body {
    background: #0B7A67;
    width: 100%;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    color: #FFF8F0;

    font-family: 'Montserrat';
    font-weight: 400;
}

.logoCenter {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}

.lateralMenu {
    background-color: #092327;
    width: 6%;
    height: 100%;
    text-align: center;
    display: block;
}

.lateralIcon {
    width: 80%;
    height: auto;
}

.divPot {
    top: 44%;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lateralIcon:hover {
    cursor: pointer;
}

.plantMenu {
    width: 94%;
    position: absolute;
    
    visibility: visible;

    display: flex;
    flex-flow: column;
    height: 100%;
    
    left: 6%;
    top: 0%;
    background-color: #0B7A67;
}

#graphCavas {
    background-color: #FFF8F0;
    width: 100%;
}

#plantName {
    display: inline-block;
    text-align: left;
    margin-left: 15px;
}

#plantAge {
    font-size: 20px;
    margin-top: 73.5px;
    margin-right: 15px;
    float: right;
}

#gif{
    height:auto;
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    right: 0%;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.plant-healty{
    background-color: #28a745;
}
.plant-diseased{
    background-color: #dc3545;
}
.plant-death{
    background-color: #343a40;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #fff;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.chart-container {
    position: relative;
    height: 40vh;
    width: 100%;
}

#GraphSelection {
    border: none;
    outline: none;
    scroll-behavior: smooth;
    width:auto;
}

.informationPanel {
    /*background-color: darkorchid;*/
    text-align: left;
    float:left;
    
    margin: 0;
    margin-left: 15px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bottomPanelContainer{
    
    flex: 1 1 auto;
    width: 100%;
    position: relative;
}

.statistic{
    margin: 0.6vh;
}

h1 {
    font-size: 50px;
}