body {
  background: #1c1c1c;
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Cara1 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #1c1c1c;
}

.Cara2 {
  position: absolute;
  top: 100vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}

.Cara3 {
  position: absolute;
  top: 200vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}

.Cara4 {
  position: absolute;
  top: 300vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}

.Cara5 {
  position: absolute;
  top: 400vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #1c1c1c;
}

.Cara6 {
  position: absolute;
  top: 500vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #1c1c1c;
}

.mainTitle {
  font-family: 'Montserrat';
  font-weight: 400;
  color: #e4e4e4;
  margin: 0px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  z-index: 10;
}

.mainTitle2 {
  display: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 45px;
  color: #e4e4e4;
  margin: 0px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 12px;
}

.arrow{
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.arrow :hover{
  cursor: pointer;
}

.arrow2{
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.arrow2 :hover{
  cursor: pointer;
}

.mainSubtitle {
  font-family: 'Montserrat';
  font-weight: 200;
  color: #e4e4e4;
  text-align: center;
  padding-top: 52vh;
  letter-spacing: 4px;
}


.scrollBarHelper {
  position: fixed;
  top: 50vh;
  right: 8.3%;
  z-index: 6;
  transform: translateY(-83px);
}

.scrollBarHelper p:nth-child(1) {
  padding-top: 0px;
}

.scrollBarHelper p:nth-child(2) {
  padding-top: 20px;
}

.scrollBarHelper p:nth-child(3) {
  padding-top: 20px;
}

.scrollBarHelper p:nth-child(4) {
  padding-top: 18px;
}

.scrollBarHelper p:nth-child(5) {
  padding-top: 18px;
}

.scrollBarHelper p:nth-child(6) {
  padding-top: 18px;
}

.scrollBarHelper p:hover {
  cursor: pointer;
}

/******/


.scrollBarHelper2 {
  position: fixed;
  top: 50vh;
  right: 5%;
  z-index: 80;
  transform: translateY(-83px);
}

.scrollBarHelper2 p:nth-child(1) {
  padding-top: 0px;
}

.scrollBarHelper2 p:nth-child(2) {
  padding-top: 20px;
}

.scrollBarHelper2 p:nth-child(3) {
  padding-top: 20px;
}

.scrollBarHelper2 p:nth-child(4) {
  padding-top: 18px;
}

.scrollBarHelper2 p:nth-child(5) {
  padding-top: 18px;
}

.scrollBarHelper2 p:nth-child(6) {
  padding-top: 18px;
}

.scrollBarHelper2 :hover {
  cursor: pointer;
}

.scrollBarText {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  color: #e4e4e4;
  text-align: right;
  margin: 0px;
  opacity: 0.5;
  visibility: hidden;
}

.scrollBarText2 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  color: #e4e4e4;
  text-align: right;
  margin: 0px;
  opacity: 0.5;
  visibility: visible;
}

.scrollBar {
  position: fixed;
  display: block;
  top: 50vh;
  right: 6%;
  z-index: 8;
  transform: translateY(-75px);
}

.scrollBar span {
  display: block;
  height: 5px;
  width: 5px;
  position: absolute;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.scrollBar span:hover {
  cursor: pointer;
}

.scrollBar span.onZone {
  background: #9b1617;
  border: 0px;
  animation: scrollMove 0.65s ease-out 1 forwards;
}

.scrollBar span:nth-child(1) {
  top: 0px;
}

.scrollBar span:nth-child(2) {
  top: 40px;
}

.scrollBar span:nth-child(3) {
  top: 80px;
}

.scrollBar span:nth-child(4) {
  top: 120px;
}

.scrollBar span:nth-child(5) {
  top: 160px;
}

.scrollBar span:nth-child(6) {
  top: 200px;
}

@keyframes scrollMove {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(3.6);
  }
}

.idiomaContainer {
  color: #e4e4e4;
  font-family: 'Montserrat';
  font-weight: 200;
  position: absolute;
  right: 8%;
  top: 2%;
}

.idiomaContainer p {
  display: inline;
}

.idiomaContainer p:hover {
  cursor: pointer;
}

.idiomaContainer p:nth-child(1) {
  opacity: 1  ;
  padding-right: 10px;
}

.idiomaContainer p:nth-child(2) {
  opacity: 1;
  padding-right: 10px;
}

.idiomaContainer p:nth-child(3) {
  opacity: 1;
}

.titleSpecial {
  color: #e4e4e4;
  background-color: #1c1c1c;
  font-family: 'Raleway';
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 50%;
  top: 45px;
  transform: translate(-50%, 75%);
}

.titleSpecialBlanc {
  color: #1c1c1c;
  background-color: #e4e4e4;
  font-family: 'Raleway';
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 50%;
  top: 45px;
  transform: translate(-50%, 75%);
}

.textNosaltres {
  word-wrap: break-word;
  font-family: 'Raleway';
  font-weight: 500;
  text-align: justify;
  position: absolute;
  top: 90%;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}

.textMissio {
  word-wrap: break-word;
  font-family: 'Raleway';
  font-weight: 500;
  text-align: justify;
  opacity: 0;
  box-sizing: content-box;
  position: absolute;
  top: 200px;
  right: 60%;
}

.imageMissio {
  position: absolute;
  left: 60%;
  top: 200px;
  opacity: 0;
  box-sizing: content-box;
}

.slider {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 100%;
  height: auto;
}

.imageComplex {
  width: 32%;
  margin: 0px;
  height: auto;
  float: left;
}

.clientsImage {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.fotoFooter {
  font-family: 'Raleway';
  font-weight: 200;
  margin: 0px;
  padding-top: 3px;
  text-align: center;
}

.lateralRButton {
  position: absolute;
  right: 0px;
  width: 8%;
  top: 0px;
  bottom: 1.55em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  opacity: 0;
  z-index: 100;
}

.lateralLButton {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 1.55em;
  width: 8%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  opacity: 0;
  z-index: 100;
}

.Formulari {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50vw;
  height: 65vh;
  transform: translate(-50%, -50%);
}

.btn {
  background-color: inherit;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 50%;
  border-image-source: linear-gradient(to right, rgba(38, 38, 38, 0.3), rgba(114, 114, 114, 1), rgba(38, 38, 38, 0.3));
  border-width: 2pt;
  border-image-slice: 1;
  border-left-color: red;
  transform: translate(-50%, 0px);
}

.btn:hover {
  background:linear-gradient(to right, rgba(114, 114, 114, 0.7) , rgba(38, 38, 38, 0.6),rgba(114, 114, 114, 0.7)) ;
}

.default {
  color: #e4e4e4;
  font-family: 'Raleway';
  font-weight: 200;
}

.FormulariTitle {
  color: #e4e4e4;
  font-family: 'Raleway';
  font-weight: 200;
  margin-left: 50%;
  margin-top: 10px;
  margin-bottom: 15px;
  transform: translate(-50%, 0px);
  text-align: center;
}

.inputForm {
  width: 220px;
  color: #e4e4e4;
  font-family: 'Raleway';
  font-weight: 200;
  margin-left: 50%;
  transform: translate(-50%, 0px);
  text-align: center;
  border-image-source: linear-gradient(to right, rgba(38, 38, 38, 0), rgba(114, 114, 114, 1), rgba(38, 38, 38, 0));
  border-width: 2pt;
  border-image-slice: 1;
  outline: none;
  background-color: #1c1c1c;
  padding: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  word-wrap: break-word;
  max-height: 10vh;
  max-width: 50vw;
}

.margin {
  margin-bottom: 15px;
  text-align: left;
}

.TopBar {
  background-color: #1c1c1c;
  overflow: hidden;
  width: 100%;
  height: 90px;
  z-index: 5;
}

.sticky {
  position: fixed;
  top: 0;
}

.stickyTitle {
  position: fixed;
  top: 0;
}
.spacer{
  padding-top: 40vh;
}
.spacer2{
  position: absolute;
  bottom: 5%;
  left: 0%;
  right: 0%;
}

.textInfo {
  color: #e4e4e4;
  font-family: 'Raleway';
  font-weight: 200;
  font-size: 25px;
  text-align: center;
}

.tiAdd{
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}


.HotZone {
  width: 250px;
  height: 220px;
  position: fixed;
  top: 50%;
  right: 9%;
  transform: translate(50%, -45%);
  z-index: 5;
}

.noSelec {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

#tm1{
   margin-top: 0px;
}


/**********************************************/

.mimageMissio{
  max-height: 60vh;
}

.mtextMissio{
  width: 300px;
  font-size: 16px;
}

.mtextNosaltres{
  width: 440px;
  font-size: 18px;
}

.mmainTitle{
  font-size: 80px;
}
.mmainSubtitle{
  font-size: 25px;
}
.mtitleSpecial{
  font-size: 32px;
}
.mfooter{
  font-size: 12px;
}


@media only screen and (max-height: 700px) {

  .mtextNosaltres{
    width: 440px;
    font-size: 18px;
  }

  .mtextMissio{
    width: 300px;
    font-size: 16px;
  }

  .mfooter{
     font-size: 9px;
  }
}

@media only screen and (min-height: 900px) and (max-height: 1200px){

  .mtextNosaltres{
    width: 500px;
    font-size: 24px;
  }

  .mtextMissio{
    width: 400px;
    font-size: 20px;
  }

  .mmainTitle{
    font-size: 120px;
  }
  .mmainSubtitle{
    font-size: 39px;
  }

  .mfooter{
     font-size: 12px;
  }
}

@media only screen and (min-height: 1200px){

  .mtextNosaltres{
    width: 500px;
    font-size: 24px;
  }

  .mfooter{
     font-size: 12px;
  }
}

/*
  .mmainTitle{
    font-size: 80px;
  }
  .mmainSubtitle{
    font-size: 25px;
  }
  .mtitleSpecial{
    font-size: 50px;
  }

  .mimageMissio{
    height: 384px;
  }

  .mtextMissio{
    width: 22vw;
  }

  .mcontainerMissio{
    width: 70vw;
    height: 50vh;
  }

  .mfooter{
    font-size: 12px;
  }

}


@media only screen and (min-height: 400px) {
 .mtextNosaltres{
    width: 440px;
    font-size: 20px;
  }

  .mmainTitle{
    font-size: 80px;
  }
  .mmainSubtitle{
    font-size: 25px;
  }
  .mtitleSpecial{
    font-size: 50px;
  }

  .mimageMissio{
    height: 384px;
  }

  .mtextMissio{
    width: 22vw;
  }

  .mcontainerMissio{
    width: 70vw;
    height: 50vh;
  }

  .mfooter{
    font-size: 12px;
  }
}
*/
/*
@media screen and (max-width: 900px) and (min-width: 600px) {

}
*/
