body {
    background: #0b7b68;
    width: 100%;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logoCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    z-index: 10;
}

.lateralMenu {
    background-color: #010e0c;
    width: 6%;
    height: 100%;
    text-align: center;
    display: block;
}

.lateralIcon {
    width: 80%;
    height: auto;
}

.divPot {
    top: 44%;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lateralIcon:hover {
    cursor: pointer;
}

.plantMenu {
    width: 94%;
    height: 100%;
    position: absolute;
    left: 6%;
    top: 0%;
}